html, body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  text-align: center;
}

.general {
  width: 50%;
  margin:0 25%;
  border: 1px solid blue;
}

.general th {
  border: 1px solid blue;
  background-color: grey;
}

.general td {
  border: 1px solid blue;
  background-color: lightgrey;
}
